body{
    background-color: rgb(235, 134, 232);
    background-repeat: no-repeat;
    height: 100vh;
}
nav{
    background-color: rgb(251, 250, 248);
}
section{
    padding: 100px 0px;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}